<div class="card">
    <h3>Lista de Eventos</h3>
    <p>Use os filtros e encontre os melhores Eventos para você.</p>
    <p-table #dt1 [value]="eventos" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} eventos"
        [globalFilterFields]="['titulo']">
        <ng-template pTemplate="caption">
            <div class="left" style="float: left;" >
                <button id="button_text" pButton pRipple label="New" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
            </div>
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar Palavra-Chave" style="color: white;"/>
                </span>
                <button id="button_text" pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Titulo 
                        <p-columnFilter type="text" field="titulo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Inicio
                        <p-columnFilter type="date" field="dataInicio" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Fim
                        <p-columnFilter type="date" field="dateFim" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Descrição
                        <p-columnFilter type="text" field="descricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Local
                        <p-columnFilter type="text" field="local" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Num. Vagas
                        <p-columnFilter type="numeric" field="quantVagas" display="menu" ></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Valor
                        <p-columnFilter type="numeric" field="valor" display="menu" currency="BRL"></p-columnFilter>
                    </div>
                </th>
                <th >
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Pre-Inscrição
                        <p-columnFilter type="boolean" field="tipoInscricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tipo de Evento
                        <p-columnFilter field="descricaoTipoEvento" matchMode="equals" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Ações
                        <p-columnFilter field="acoes" display="menu"></p-columnFilter>
                    </div>
                </th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-evento>
            <tr>
                <td>
                    {{evento.titulo}}
                </td>
                <td>
                    {{evento.dataInicio | date: 'MM/dd/yyyy'}}
                </td>
                <td>
                    {{evento.dataFim | date: 'MM/dd/yyyy'}}
                </td>
                <td>
                    {{evento.descricao }}
                </td>
                <td>
                    {{evento.local }}
                </td>
                <td>
                    {{evento.quantVagas}}
                </td>
                <td>
                    {{evento.valor | currency:'BRL':'symbol'}}
                </td>
                
                <td class="p-text-center">
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle': evento.tipoInscricao, 'false-icon pi-times-circle': !evento.tipoInscricao}"></i>
                </td>
                <td>
                    {{evento.descricaoTipoEvento}}
                </td>
                <td id="btn-list-item">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                    <button (click)="deletarEvento(evento.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">Não existem eventos .</td>
            </tr>
        </ng-template>
    </p-table>
</div>