<div class="card">
    <h3>Lista de Eventos</h3>
    <p>Use os filtros e encontre os melhores Eventos para você.</p>
    <p-table #dt1 [value]="eventos" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} eventos"
        [globalFilterFields]="['titulo']">
        <ng-template pTemplate="caption">

            <div class="left" style="float: left;" >
                <div *ngIf="condicao;">
                    <button id="button_text" (click)="mostrarDialogSalvar()" pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-success" ></button>
                </div>
            </div>

            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar Palavra-Chave" style="color: white;"/>
                </span>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Titulo 
                        <p-columnFilter type="text" field="titulo" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Inicio
                        <p-columnFilter type="date" field="dataInicio" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Fim
                        <p-columnFilter type="date" field="dateFim" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Descrição
                        <p-columnFilter type="text" field="descricao" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Local
                        <p-columnFilter type="text" field="local" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Num. Vagas
                        <p-columnFilter type="numeric" field="quantVagas" display="menu" ></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Valor
                        <p-columnFilter type="numeric" field="valor" display="menu" currency="BRL"></p-columnFilter>
                    </div>
                </th>

                <th >
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Pre-Inscrição
                        <p-columnFilter type="boolean" field="tipoInscricao" display="menu"></p-columnFilter>
                    </div>
                </th>
                
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tipo de Evento
                        <p-columnFilter field="descricaoTipoEvento" matchMode="equals" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Ações
                        <p-columnFilter field="acoes" display="menu"></p-columnFilter>
                    </div>
                </th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-evento>
            <tr>
                <td>
                    {{evento.titulo}}
                </td>

                <td>
                    {{evento.dataInicio | date:  'dd/MM/yyyy - hh:mm'}}
                </td>

                <td>
                    {{evento.dataFim | date: 'dd/MM/yyyy - hh:mm'}}
                </td>

                <td>
                    {{evento.descricao }}
                </td>

                <td>
                    {{evento.local }}
                </td>

                <td>
                    {{evento.quantVagas}}
                </td>

                <td>
                    {{evento.valor | currency:'BRL':'symbol'}}
                </td>
                
                <td class="p-text-center">
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle': evento.tipoInscricao, 'false-icon pi-times-circle': !evento.tipoInscricao}"></i>
                </td>

                <td>
                    {{evento.descricaoTipoEvento}}
                </td>

                <td id="btn-list-item">
                    <div *ngIf="condicao; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <button (click)="mostrarDialogEditar(evento.id)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>
                        <button (click)="confirmarDeletarEvento(evento.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                    </ng-template>
                    <ng-template #elseBlock>
                        <button (click)="inscricao(evento.id)" pButton pRipple icon="pi pi-calendar-plus" class="p-button-rounded p-button-success p-mr-2" ></button>
                    </ng-template>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">Não existem eventos .</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [style]="{width:'65vw'}" header="Formulário de Eventos" [(visible)]="exibirDialog">
    <div style="display: flex;
    flex-direction: row">
        <app-form-evento style="justify-content: space-around;"
            [tipoEvento]="tipoEvento"
            [evento]="evento"
            [categorias]="categorias"
            [edicao]="formEdicao"
            (eventoSalvo)="fecharDialog($event)"
        ></app-form-evento>
    </div>
</p-dialog>

<app-formulario-inscricao *ngIf="inscricaoDialog" (dialogEvento)="fecharInscricaoDialog()" [inscricaoDialog]="inscricaoDialog" [evento] = "evento"></app-formulario-inscricao>

<p-confirmDialog header="Confirmar Remover Evento" icon="pi pi-exclamation-triangle"></p-confirmDialog>

