<div class="formularioInscricao">
    <div class="card" style="padding-bottom: 40px; border-radius: 15px;">
        <h1>Perguntas para Inscrição do evento evento.titulo</h1>
        <p-accordion>
            <p-accordionTab header="pergunta 1">
                <p>Pergunta grande e bonitinha blablablablablablablablablablablablablablablabla.</p>
                    <span class="p-float-label">
                        <textarea [rows]="3" id="resposta_text_area"pInputTextarea autoResize="autoResize" placeholder="Resposta"></textarea>
                    </span>    
            </p-accordionTab>
            <p-accordionTab header="pergunta 2">
                <p>Pergunta grande e bonitinha blablablablablablablablablablablablablablablabla.</p>
                    <span class="p-float-label">
                        <textarea [rows]="3" id="resposta_text_area"pInputTextarea autoResize="autoResize" placeholder="Resposta"></textarea>
                    </span>    
            </p-accordionTab>
            <p-accordionTab header="pergunta 3">
                <p>Pergunta grande e bonitinha blablablablablablablablablablablablablablablabla.</p>
                    <span class="p-float-label">
                        <textarea [rows]="3" id="resposta_text_area"pInputTextarea autoResize="autoResize" placeholder="Resposta"></textarea>
                    </span>    
            </p-accordionTab>
        </p-accordion>
        <br/>
        <div class="submit_button_div">
            <button pButton type="button2" label="Submit" class="p-button-text" icon="pi pi-check" iconPos="right" id="submit-button"></button>
        </div>
    </div>    
</div>
