<div class="card">
    <h5>Lista de Usuários</h5>
    <p>Através dos filtros navegue pela lista de Usuários.</p>
    
    <div class="p-d-flex p-jc-end">
        <button routerLink="formulario" pButton type="button" label="Cadastrar Usuário" ></button>
    </div>
    
    <p-table #dt1 [value]="usuarios" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} usuários"
        [globalFilterFields]="['name','country.name','representative.name','status']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                 <i class="pi pi-search"></i>
                 <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Digite uma palavra-chave" />
                </span>
                <button pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nome 
                        <p-columnFilter type="text" field="nome" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        CPF
                        <p-columnFilter type="text" field="cpf" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Email 
                        <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Telefone
                        <p-columnFilter type="text" field="telefone" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th> 
                    <p-calendar [(ngModel)]="dateValue" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </th>
                <th style="width: 80px;">Ações</th>     
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>
                    {{usuario.nome}}
                </td>
                <td>
                    {{usuario.cpf }}
                </td>
                <td>
                    {{usuario.email}}
                </td>
                <td>
                    {{usuario.telefone}}
                </td>
                <td>
                    {{usuario.dataNascimento | date: 'dd/MM/yyyy'}}
                </td>
                <td class="p-d-flex p-jc-center">
                    <button [routerLink]="['formulario', usuario.id]" pButton type="button" icon="pi pi-pencil"></button>
                    <button (click)="deletarUsuario(usuario.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Não existem usuários.</td>
            </tr>
        </ng-template>
    </p-table>
</div>