<p-dialog styleClass="nova-light" header="Title" [(visible)]="inscricaoDialog" (onHide)="closeDialog()" [style]="{width: '70vw' }">

    <div class="formularioInscricao">
        <div>
            <h2><b>{{evento.titulo}}</b></h2>
            
        </div>
        
        <div style="width: 50%;">
            <p-accordion mutiple="false" *ngFor="let pergunta of perguntas; let i = index">
                <app-perguntas-respostas [pergunta] = pergunta.titulo [numero] ="i + 1" (enviarRespostaEvent)="EnviarResposta($event)"></app-perguntas-respostas>
            </p-accordion>
        </div>

    </div>

    <div class="submit_button_div">
        <button pButton type="button2" label="Submit" class="p-button-text" icon="pi pi-check" iconPos="right" id="submit-button" (click)="enviarInscricao()"></button>
    </div>

</p-dialog>