<!--<p>formulario works!</p>-->
<div class="footer">
    <div class="card clearfix">
        <app-version-tag cssClass="footer-text-left"></app-version-tag>
        <span class="footer-text-left">formulario works!</span>
        <span class="footer-text-left">

            <h3>formulario works!</h3>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText placeholder="Pergunta" /> 
            </span>
            <div class="p-field p-col-12 p-md-4">
                <label for="time">Time</label>
                <p-calendar [(ngModel)]="date7" [showTime]="true" inputId="time"></p-calendar>
            </div>

            <div class="p-field p-col-12 p-md-4">
                <label for="time">Time</label>
                <p-calendar [(ngModel)]="date7" [showTime]="true" inputId="time"></p-calendar>
            </div>

            <span class="p-float-label">
                <input id="float-input" type="text" pInputText placeholder="Descrição" /> 
            </span>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText placeholder="Local" /> 
            </span>

        </span>
        <span class="footer-text-right">
            <span class="ui-icon ui-icon-copyright"></span>
            <span>Sistema de Gerenciamento de Eventos!</span>
        </span>



    </div>
</div> 