#backPlate-login{
    width: 100%; 
    height: 70vh; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin-top: 5vh; 
}

#barraEsquerda{
    font: 1em Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 40%;
    background-color: #55DECE;
}

h1{
    color: white;
    width: 85%;
    margin-bottom: 50%;
    margin-left: 10%;
}

#form{
    margin: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ui-inputgroup{
    margin-top: 30px;
    width: 70%;
}