<!--<p>form-evento works!</p>-->
<div class="footer">
    <div class="card clearfix">
        <app-version-tag cssClass="footer-text-left"></app-version-tag>
            <h3>Cadastre seu Evento!</h3>
            
            <span class="p-field">
                <input id="float-input" type="text" pInputText placeholder="Titulo" /> 
            </span>

            <div class="p-field ">
             
                <p-calendar [(ngModel)]="date7" placeholder="Inicio" [showTime]="true" inputId="dataInicio"></p-calendar>
            </div>
        
            <div class="p-field ">
             
                <p-calendar [(ngModel)]="date7" placeholder="Termino" [showTime]="true" inputId="dataFim" ></p-calendar>
            </div>
        
            <div class="p-fiel">
               
                <input id="float-input" type="text" pInputText placeholder="Descrição" /> 
            
            </div>
            <div class="p-fiel">
              
                <input id="float-input" type="text" pInputText placeholder="Local" /> 
            </div>
            
            <div class="p-fiel">
                <p-inputNumber [(ngModel)]="value2" placeholder="Valor"  mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
            </div>

            <div class="p-fiel">
                <p-inputNumber [(ngModel)]="value4" placeholder="Vagas" mode="decimal" [min]="0" [max]="10000000">
                </p-inputNumber>
            </div>
      
            <div class="p-fiel">
                <p-dropdown [options]="categorias" [(ngModel)]="selectedCity1" placeholder="Selecione a categoria" optionLabel="descricao" [showClear]="true"></p-dropdown>
            </div>

            <div class="p-fiel">
                <p-inputSwitch [(ngModel)]="checked1"></p-inputSwitch>
            </div>

            <div class="p-fiel">
                <button pButton type="button" label="Secondary" class="ui-button-secondary"></button>
                <button pButton type="button" label="Success" class="ui-button-rounded ui-button-success"></button>
            </div>  
        
    </div>
</div>