<div class="card">
    <h3>Lista de Inscrições</h3>
    <p>Use os filtros e encontre os melhores Eventos para você.</p>
    <p-table #dt1 [value]="inscricoes" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} eventos"
        [globalFilterFields]="['evento']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar Palavra-Chave"/>
                </span>
                <button id="button_text" pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        CPF
                        <p-columnFilter type="text" field="usuario" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Titulo 
                        <p-columnFilter type="text" field="evento" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Inicio
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Fim
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Situação
                    </div>
                </th>
                <th style="width: 80px;">Ações</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inscricao>
            <tr>
                <td>{{inscricao.usuario}}</td>
                <td>{{inscricao.evento}}</td>
                <td>{{inscricao.dataInicio}}</td>
                <td>{{inscricao.dataFim}}</td>
                <td>{{inscricao.situacao}}</td>
                <div>
                <td style="display: flex;flex-direction: row; justify-content: center;" *ngIf="condicaoAdmin">
                    <button class="p-button-rounded p-button-success p-mr-2" pButton pRipple icon="pi pi-list" (click)="openDialog(inscricao.id)" ></button>
                </td>
                </div>
                <div>
                <td class="p-d-flex p-jc-center" *ngIf="!condicaoAdmin">
                    <button (click)="dialogCancelarInscricao(inscricao.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
                </td>
                </div>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Não existem inscrições.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmar cancelamento de inscrição"  (inscricaoCancelada) = "cancelarInscricao()" icon="pi pi-exclamation-triangle"></p-confirmDialog> 
</div>

<p-dialog *ngIf="aprovacaoDialog" header="Checagem de Inscrição" modal="true" [(visible)]="aprovacaoDialog" [style]="{width: '50vw' }" (onHide)="closeDialog()" >
    <app-aprovar-inscricao [conjuntos]="conjuntos" [id]="id" [incricao] = "inscricao" (aprovarEvento)="aprovarInscricao($event); closeDialog()" (reprovarEvento)="reprovarInscricao($event); closeDialog()"></app-aprovar-inscricao>
</p-dialog>

<p-toast position="top-right"></p-toast>
